name: Renovate

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Renovate
        uses: renovatebot/github-action@v41.0.13
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: debug
          RENOVATE_FORK_TOKEN: ${{ secrets.FORK_TOKEN }}
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
